body {
    margin: 0;
    padding: 0;
    color: #555;
    font: normal 10pt Arial,Helvetica,sans-serif;
/*  background: #EFEFEF;*/
}

.border {
    border: 1px solid #000;
}

.container {
    width: auto;
    max-width: 960px;
}

.official-adaptive-view {
    margin: 0 2%;
}

.official-footer {
    border-top: 1px solid #C9E0ED;
    font-size: 0.8em;
    margin: 10px 20px;
    padding: 10px;
    text-align: center;
}

.official-photo {
    display: inline-block;
    margin: 2%;
}

.official-review {
    margin: 2%;
}

.official-review-form {
    display: none;
    position: fixed;
    top:20%;
}

#official-wrap {
    height: auto !important;
    height: 100%;
    margin: 0 auto -60px;
    min-height: 100%;
    padding-top: 50px;  
}